body {
    font-family: 'Asset', cursive;
    font-size: 100px;
    background-color: black;
    
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.cover-container {
    height: 100vh;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

p {
    color: white;
}

.bg-black {
    background-color: #000; }

.btn.btn-github {
    background: #000;
    border-color: #fff;
    color: #fff; }
    .btn.btn-github:hover, .btn.btn-github:focus {
      color: #000; }
      .btn.btn-github:hover:after, .btn.btn-github:focus:after {
        background: #fff; }
    .btn.btn-github.btn-outline:hover, .btn.btn-github.btn-outline:focus {
      border-color: #000;
      color: #fff; }
      .btn.btn-github.btn-outline:hover:after, .btn.btn-github.btn-outline:focus:after {
        background: #000; }

.btn.btn-gray {
    background: #aaa;
    border-color: #aaa;
    color: #fff; }
    .btn.btn-gray:hover, .btn.btn-gray:focus {
        color: #aaa; }
        .btn.btn-gray:hover:after, .btn.btn-gray:focus:after {
        background: #fff; }
    .btn.btn-gray.btn-outline:hover, .btn.btn-gray.btn-outline:focus {
        border-color: #aaa;
        color: #fff; }
        .btn.btn-gray.btn-outline:hover:after, .btn.btn-gray.btn-outline:focus:after {
        background: #aaa; }