body {
    font-family: 'Asset', cursive;
    font-size: 100px;
    text-shadow: 4px 4px 4px #aaa;
    
    width: 100%;
    height: 100%;
    margin: 0;
}


div {
    position:absolute; 
    height:100%; 
    width:100%;
    display: table;
}

h1 {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}